*{
    box-sizing: border-box;
}

body{
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
}


/* BANNER */
.banner-container{
    width: 100%;
    min-height: 100vh;
    background-image: url("image copy 2.png");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

.banner-container .container{
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    padding-right: 100px;
    gap: 50px;
}

/* LEFT SECTION */
.left-section{
    width: 600px;
    text-align: right;
    position:absolute;
    top:50px;
    
    

}
.left-section button{
    width: 120px;
    height: 40px;
    background-color: #a57115;
    color: white;
    border: none;
    border-radius: 5px;
    margin-top: 20px;
    cursor: pointer;
    text-decoration: none;
}

.left-section h1{
    margin: 0;
    font-size: 70px;
    font-weight: bold;
    letter-spacing: 4px;
    background: linear-gradient(to left, white, #a57115);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    text-transform: uppercase;
}

.left-section p{
    margin-top: 20px;
    font-weight: bold;
    font-size: 14px;
    letter-spacing: 1px;
    color: rgb(0, 0, 0);
    line-height: 28px;
}


/* FOOTER */
footer{
    text-align: center;
    color: rgb(241, 239, 232);
    padding: 15px;
    background-color: black;
}


/* SECTION TWO */
.section-two{
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background-image: url("image.png");
    background-size: cover;
    background-position: center;
}
.section-two h1{
    color: white;
    font-size: 200px;
    margin-bottom: 50px;
}

/* CARD */
.card-container{
    width: 500px;
    height: 300px;
    border-radius: 15px;
    box-shadow: 10px 5px 26px black;
    overflow: hidden;
    text-align: center;
    background-color: #a57115;
    padding: 20px;
}
.card-container p{
    color: rgb(5, 0, 0);
    font-style: oblique;
}


/* SKILLS SECTION */
.skill-container{
    width: 100%;
    min-height: 100vh;
    background-image: url("0.png");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

/* SKILLS TITLE */
.skills-text{
    text-align: center;
    color: white;
    margin-bottom: 50px;
}

/* IMAGE CONTAINER */
.skills-images{
    display: flex;
    gap: 50px;
    flex-wrap: wrap;
    justify-content: center;
}

/* IMAGES */
.image-one,
.image-two,
.image-three{
    width: 200px;
    height: 200px;
    background-size: cover;
    background-position: center;
    border-radius: 15px;
    text-align: center;
}

.image-one{
    background-image: url("python.png");
}

.image-two{
    background-image: url("java.jpg");
}

.image-three{
    background-image: url("html.jpg");
}

.image-one h1,
.image-two h1,
.image-three h1{
    margin-top: 210px;
    color: white;
    font-size: 22px;
}
.contact{
    width: 100%;
    height: 100vh;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    display: flex;
    justify-content: center;
    align-items: center;
    background: url(form.png);

}
.data{
    width: 400px;
    height: 300px;
    background-color:;
    border-radius: 15px;
    box-shadow: 10px 5px 26px black;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

}
.data button{
    width: 100px;
    height: 40px;
    background-color: black;
    color: white;
    border: none;
    border-radius: 5px;
    margin-top: 20px;
    cursor: pointer;
}
.data h1{
    text-align: center;
    font-style: oblique;
}
